# Intermediate pipeline artifacts
train_lr_split.parquet
train_engineered.parquet
train_rf_split.parquet
imputer_train_only.pkl
lr_cost_analysis.parquet
lr_imputer.pkl
lr_scaler.pkl
scaler_train_only.pkl
test_split.parquet
train_clean_full.parquet
train_lr_ready.parquet
train_rf_ready.parquet
train_split.parquet
test_working_lr.parquet
train_working_lr.parquet
train_working_rf.parquet
test_lr_split.parquet
test_rf_split.parquet
lr_feature_cols.txt


# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Raw Kaggle data
train_transaction.csv
train_identity.csv
test_transaction.csv
test_identity.csv
